.cover-card {
    .cover-card-heading {
        font-size: 1.2 rem;
        line-height: 1.2 rem;
        font-weight: 500;
        color: black;
        display: inline-block;
        background: white;
        width: 100%;
        margin: 0;
        padding: 15px;
        border-top: 4px solid rgb(212, 210, 210);
        height: 110px;
        box-shadow: 0px 1px 0px #333;
    }

    .cover-card-btn {
        text-transform: lowercase;
        border: none;
        left: auto;
        right: 20px;
        bottom: -23px;
        margin: none;
        width: 40%;
        background: #f3593c;
    }

    .cover-card-tag {
        display:none;
    }
}

.covers-block {
    .btn-secondary {
        text-transform: none;
        background: $gpnl-green;
        color: $white;
        width: auto;
        padding: 0 20;
    }
}