@import "../base/variables";

.privacy-policy .submenu-block.submenu-long .submenu-menu ul.submenu-item {
  column-count: unset;
}

.privacy-policy .submenu-block.submenu-long .submenu-menu ul.submenu-item li:first-child {
  display: none;
}

.back-top:hover, div.page-template > .back-top:hover {
  cursor: pointer;
}
