.content-two-column-block {

  padding-left: $sm !important;
  padding-right: $sm !important;
  padding-bottom: 0 !important;

  @include medium-and-up {
    margin: -30px 0;
    padding-top: $xlrg !important;
    padding-left: $xlrg !important;
    padding-bottom: 0 !important;
  }

  @include large-and-up {
    padding-left: $wide !important;
    padding-top: $xxlrg !important;
    padding-bottom: $xxlrg !important;
  }
}
