@use "variables";

@import "mixins";

html > iframe:first-child {
  display: none;
}

html,
body {
  overflow-x: hidden;
  background: $warm-light-grey;
}

h1[id], h2[id], h3[id], h4[id], h5[id], h6[id] {
  &:before {
    display: block;
    height: 120px;
    margin-top: -120px;
  }
}

body {
  font-family: $roboto !important;
  font-size: 1rem;
  color: $black;
  position: relative;

  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
  a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    text-decoration: none !important;
  }

  a, a.icon-link {
    font-family: $roboto;
  }

  .block {
    display: block;
  }

  p {
    font-family: $roboto;
  }

  &.white-bg {
    background-color: $white !important;
  }

  &.brown-bg {
    background: $warm-light-grey !important;
  }

  &.home {
    background-image: none;
  }

  &.search {
    font-family: $roboto;
  }

  &.wp-admin {
    margin-top: unset;
  }

  // This class is added to centered images in Gutenberg.
  .aligncenter {
    text-align: center !important;
  }
}

div.page-template {
  padding-top: 60px; // Nav height

  @media (max-width: $small-width) {
    width: 100vw !important;
  }

  @media (max-width: $medium-width) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  @media (max-width: $small-width) {
    > * {
      &:not(section), &:not(.block) {
        padding: 0 $sm;
      }
    }
  }
}

article[id^=post] {
  padding-top: 60px; // Nav height
}

//Unset Z-index that is set in the parent theme.
div.page-template > * {
  z-index: unset;
}
