$roboto: "Roboto", sans-serif;

// main colours:
$black: #000000;
$white: #ffffff;
$blood-orange: #f3593c;
$light-green: #66cc00;
$dark-green: #003300;
$hover-green: #1d8c61;
$hover-red: #c02a0c;

// Basic website SECUNDARY COLOURS:
$anthraciet: #323842;
$dark-blue: #044465;
$slate-grey: #5c6978;
$dark-grey: #6a6a6a;
$medium-grey: #1c8c98;
$sea-blue: #698e9c;
$sky-blue: #aec7ca;
$light-blue: #d7e2e4;
$light-grey: #dadbdc;
$warm-light-grey: #eaeaea;

// Media queries
$extra-small-width:  320px;
$small-width:        576px;
$medium-width:       768px;
$large-width:        992px;
$extra-large-width:  1200px;
