$roboto: "Roboto", sans-serif;

// main colours:
$main-gray:	#004136;
$CTA-red: #f3593c;
$gpnl-green: #66cc00;
$hover-green: #1d8c61;
$hover-red: #EE562D;

// Basic website SUPPORT COLOURS:
$gray1: #18191a;
$gray2: #323842;
$gray3: #9fa1a4;
$gray4: #dadbdc;
$gray5: #eaeaea;
$warm-gray1: #6a6a6a;
$cool-gray1: #044465;
$cool-gray2: #5c6978;
$cool-gray3: #698e9c;
$cool-gray4: #aec7ca;
$cool-grey5: #d7e2e4;
$white: #ffffff;


