html > iframe:first-child {
  display: none;
}

html,
body {
  overflow-x: hidden;
  background: $warm-light-grey;
}

body {
  font-family: $roboto !important;
  font-size: 1rem;
  color: $black;
  position: relative;
  overflow-y: hidden;
  background: $warm-light-grey;

  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover,
  a:hover h1, a:hover h2, a:hover h3, a:hover h4, a:hover h5, a:hover h6 {
    text-decoration: none !important;
  }

  a, a.icon-link {
    font-family: $roboto;
  }

  .block:first-child {
    margin-top: 0;
  }

  .block {
    display: block;
  }

  p {
    font-family: $roboto;
  }

  &.white-bg {
    background-color: $white !important;
  }

  &.brown-bg {
    background: $warm-light-grey !important;
  }

  &.home {
    // background-image:
    //   repeating-linear-gradient(119deg, transparent -53%, rgba(157, 187, 190, 0.1) 55%, rgba(236, 241, 243, 1) 0),
    //   repeating-linear-gradient(119deg, transparent -50%, rgba(157, 187, 190, 0.1) 30%, rgba(236, 241, 243, 0) 20%),
    //   repeating-linear-gradient(119deg, transparent -445%, rgba(157, 187, 190, 0.1) 27%, rgba(236, 241, 243, 0) 10%),
    //   repeating-linear-gradient(119deg, transparent -45%, rgba(157, 187, 190, 0.1) 17%, rgba(236, 241, 243, 0.5) 0),
    //   url("images/home.png");
    // background-repeat: repeat-x;
    // background-color: #ecf1f3;
    background-image: none;
  }

  &.search {
    font-family: $roboto;
  }

  margin-top: 54px;

  @media (min-width: 768px) {
    body {
      margin-top: 60px;
    }
  }

  &.wp-admin {
    margin-top: unset;
  }
}

.container > * {
  position: relative;
  z-index: 2;
}

div.page-template {
  @media (max-width: $small-width) {
    width: 100vw !important;
  }

  @media (max-width: $medium-width) {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  > * {
    &:not(section), &:not(.block) {
      padding: 0 $sm;
    }
  }
}

.skewed-overlay {
  mask-image: none !important;
  -webkit-mask-image: none !important;
}
