// Temp colors
// Fonts
/* stylelint-disable value-keyword-case*/

// @import "page-specific-hacks";
.txtFirstName {
  border: 0 solid #61ba07;
  width: 315px;
  color: #666;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

.txtEmail {
  border: 0 solid #61ba07;
  width: 315px;
  color: #666;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  margin-bottom: 15px;
}

.btnRegister {
  width: 150px;
  height: 40px;
  border: 0;
  overflow: hidden;
  cursor: pointer;
  cursor: hand;
  vertical-align: middle;
  font-size: 15px;
  font-weight: 700;
  background-color: #61ba07;
  color: white;
}

.privacylink {
  padding-left: 10px;
  font-size: 12px;
}

a.customize-unpreviewable,
area.customize-unpreviewable,
form.customize-unpreviewable,
form.customize-unpreviewable button,
form.customize-unpreviewable input,
form.customize-unpreviewable select {
  cursor: pointer!important;
}
@media (min-width: 992px) {
  .happy-point-block-wrap .pt-20 {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .cookie-block p {
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .cookie-block {
    max-height: 140px;
    background: whitesmoke;
  }
}
@media (min-width: 576px) {
  .page-parent .skewed-overlay:before,
  .tag .skewed-overlay:before {
    background: transparent;
    background: linear-gradient(245deg, transparent 11%, rgba(255, 255, 255, .2) 17%, rgba(255, 255, 255, .9) 28%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, .85) 58%, rgba(255, 255, 255, .3) 72%, rgba(255, 255, 255, .9) 90%, rgba(255, 255, 255, .9) 90%, rgba(255, 255, 255, .95) 90%);
  }
}
@media (min-width: 576px) {
  .page-child .skewed-overlay:before {
    background: transparent;
    background: linear-gradient(245deg, transparent 25%, rgba(255, 255, 255, .2) 28%, rgba(255, 255, 255, .9) 44%, rgba(255, 255, 255, .7) 66%, rgba(255, 255, 255, .85) 45%, rgba(255, 255, 255, .3) 64%, rgba(255, 255, 255, .5) 65%, rgba(255, 255, 255, .9) 95%, rgba(255, 255, 255, .9) 100%);
  }
}

/* news page */
.single-post-meta {
  .single-post-author {
    font-style: normal;
  }
}

.single-post .page-header .single-post-author, .single-post .page-header .single-post-time {
  font-style: normal;
}

.post-content {
  .post-content-lead {
    .post-details {
      p:first-of-type {
        b, strong {
          font-weight: 700;
          font-size: 1.375rem;
        }
      }

      h2 {
        font-size: 1.625rem;
      }

      h3 {
        font-size: 1.25rem;
      }

      h4 {
        font-size: 1rem;
      }

      a:link, a:active, a:visited {
        color: $light-green;
      }

      a:hover {
        color: $hover-green;
      }

      a.btn-primary {
        color: $white;
      }
    }
  }
}
