html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  hyphens: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
  text-transform: uppercase;
  hyphens: auto !important;

  @include medium-and-up {
    hyphens: none !important;
  }

  }

h1,
h2 {
  font-weight: bold;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.225;
  margin-bottom: 30px;

  @include medium-and-up {
    font-size: 2.5rem;
  }

  @include large-and-up {
    font-size: 2.875rem;
    margin-bottom: 48px;
  }
}

h2 {
  font-size: 1.625rem;
  line-height: 1.38;
  margin-bottom: 5px;

  @include medium-and-up {
    font-size: 2.125rem;
  }

  @include large-and-up {
    font-size: 2.25rem;
  }

  @include x-large-and-up {
    font-size: 2.375rem;
    margin-bottom: 24px;
  }
}

.white-text {
  color: $white;
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
