// TODO 'tag-item tag-item--main page-type' verborgen bij artikelen/persberichten
.page-id-7645 .page-header-background:after,
.page-id-7645 .skewed-overlay {
  display: none;
}

.page-id-7645 .page-header-title {
  max-width: none;
}

.page-id-7645 .page-template {
  color: #fff;
}

.page-id-7645 .page-header-title img {
  width: 80%;
  margin-bottom: -80px;
  margin-top: -60px;
}

body.page-id-7645 {
  background-image: url("https://storage.googleapis.com/planet4-netherlands-stateless/2018/07/Mockup-webpagina-bg-2.jpg");
  background-size: 100%;
}

.page-id-7645 .step-info .row {
  color: #fff;
}

/* news page */
.single-post-meta {
  .single-post-author {
    font-style: normal;
  }
}

.single-post .page-header .single-post-author, .single-post .page-header .single-post-time {
  font-style: normal;
}

.single-post .page-header h1 {
  font-size: 2.875rem;
}

.single-post .page-header h2 {
  font-size: 1.625rem;
}

.post-content {
  .post-content-lead {
    .post-details {
      p:first-of-type {
        b, strong {
          font-weight: 700;
          font-size: 1.375rem;
        }
      }

      h2 {
        font-size: 1.625rem;
      }

      h3 {
        font-size: 1.25rem;
      }

      h4 {
        font-size: 1rem;
      }

      a:link, a:active, a:visited {
        color: $light-green;
      }

      a:hover {
        color: $hover-green;
      }
    }
  }
}

.search {
  background: $white;
}
