.page-header {
  --page-header--background: none; // GPI overwrite.
}

.page-section-description {
  font-size: var(--text--x-large-and-up--font-size,1.25rem);
  line-height: var(--text--x-large-and-up--line-height,1.75rem);
  margin-bottom: 48px;
}
