.country-dropdown-toggle {
  color: $grey-5;

  &:hover, &:focus {
    color: $grey-6;
  }
}

#country-list {
  a:hover {
    color: #8bcc49;
  }

  & > ul > li > ul > li > a {
    color: #fff;

    &:hover {
      color: #8bcc49;
    }
  }
}
