@import "../base/variables";

.counter-block {

  //  algemene rewrites
  .container header h2 {
    font-size: 2rem;
  }

  &.counter-style-bar, &.counter-style-arc, &.counter-style-plain {
    .content-counter {
      .progress-container {
        background-color: $light-grey;
        margin-bottom: unset;

        .progress-bar {
          background-color: $dark-green;
        }
      }

      .progress-arc {
        .background {
          stroke: $light-grey;
        }

        .foreground {
          stroke: $dark-green;
        }
      }

      .counter-text {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1;

        .counter-target {
          font-weight: unset;
          font-size: unset;
        }
      }
    }
  }
}

.wp-block-planet4-gpnl-blocks-columns {
  &.bg-anthracite, &.bg-dark-blue {
    .counter-block {
      &.counter-style-bar, &.counter-style-arc, &.counter-style-plain {
        .content-counter {
          .progress-container {
            background-color: $warm-light-grey;
            margin-bottom: unset;

            .progress-bar {
              background-color: $hover-green;
            }
          }

          .progress-arc {
            .background {
              stroke: $warm-light-grey;
            }

            .foreground {
              stroke: $hover-green;
            }
          }
        }
      }
    }
  }

  &.bg-sea-blue {
    .counter-block {
      &.counter-style-bar, &.counter-style-arc, &.counter-style-plain {
        .content-counter {
          .progress-container {
            background-color: $warm-light-grey;
            margin-bottom: unset;

            .progress-bar {
              background-color: $dark-green;
            }
          }

          .progress-arc {
            .background {
              stroke: $warm-light-grey;
            }

            .foreground {
              stroke: $dark-green;
            }
          }
        }
      }
    }
  }
}
