.take-action-covers-block {
  .cover {
    height: 350px;
    min-height: 0;

    .cover-card-content {
      padding: 0;
    }
  }
}

.cover-card.cover, .take-action-covers-block .cover {
  padding: 0;
  transition: none;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 350px;
  min-height: 0;
  box-shadow: none;

  &:before {
    transition: none;
    display: none;
  }

  &:after {
    transition: none;
    display: none;
  }

  &:not(.single-cover):hover {
    box-shadow: none;
  }

  @include large-and-up {
    // height: 100px !important;
  }

  p {
    display: none;
  }

  &:hover {
    .cover-card-btn {
      display: block;
    }
    p {
      display: none;
    }
  }

  .cover-card-tag {
    display: none;
  }

  .cover-card-content {
    padding: 0;
    margin: 0;
    height: 100%;

    p {
      display: none;
    }

    .cover-card-heading {
      display: inline-block;
      font-weight: 500;
      color: $black;
      background: $white;
      width: 100%;
      margin: 0;
      padding: $sm;
      max-width: 100%;
      min-height: 100px;
      border-top: 4px solid $light-green;
      text-decoration: none;
      text-shadow: none;

      &:hover {
        color: $hover-green;
      }
    }
  }

  .cover-card-btn {
    display: none;
    position: absolute;
    bottom: -36px;
    left: 20px;
    cursor: pointer;
    font-size: 1em;
    background: $blood-orange;
    right: 20px;
    border: none;
    text-transform: none;
    z-index: 10;

    &:hover {
      background: $hover-orange;
    }

    .cover-card-tag {
      display: none;
    }
  }

  &.single-cover.action-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    }
  }
}

.covers-block {
  .btn-secondary {
    text-transform: none;
    width: auto;
    margin-top: $xsm;
  }

  .container {
    padding-left: $sm;
    padding-right: $sm;
  }

  .row.limit-visibility {
    margin-top: unset;
  }
}

.btn-load-more-covers-click {
  margin-left: $sm;

  @include small-and-up {
    margin-left: 0;
  }
}
