.page-header {
  padding: 84px 0 80px;
  margin-top: 0;

  .page-header-title {
    padding-top: 16px;
  }

  .page-header-background {
    z-index: unset;
    opacity: 0.3;
  }

  .top-page-tags {
    .page-type {
      display: none;
      background: none;
      text-transform: none;
    }

    .issues {
      a {
        &:before {
          display: none !important;
        }
      }
    }

    .tags {
      display: none;

      &:before {
        display: none;
      }

      .tag {
        display: none;
      }
    }
  }
}

.skewed-overlay {
  z-index: 0;
}
