// TODO make container go wider between 515px <> 688px
.content-two-column-block {
  background: $anthracite;
  padding: 50px 15px;

  h2, p {
    font-weight: 300;
    color: $white;
  }

  @media (max-width: 992px) {
    p {
      width: 100%;
    }
  }
}
