@import "../base/variables";

.cookie-notice {
  background: $anthracite;
  height: auto;
  flex-direction: column;

  div {
    color: white;
    margin-bottom: 32px;
    padding: 0;

    a {
      color: $light-green;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .btn {
    border-radius: .25rem;
    height: 2.4rem;
    width: unset;

    &.btn-secondary{
      background-color: #9fa1a4;
    }
  }

  @include medium-and-up {
    width: 350px;
    bottom: 16px;
    right: 16px;
    left: auto;
    padding: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);
  }
}
