@use "../base/variables";
@import "buttons";

// Breakpoint where links in dropdown (hamburger) menu turn into inline menu
$nav-breakpoint: 992px;

// Override Planet 4 CSS Themes using CSS custom properties as much as possible!
:root {
  --nav-link--color: #{variables.$slate-grey};
  --nav-link--hover--color: #{variables.$anthracite};
  --top-navigation--color: #{variables.$slate-grey};
  --top-navigation--fill: #{variables.$anthracite};
  --top-navigation--height: 60px;
  --top-navigation--background: #fff;
}

// These height overrides should probably be added to the Master Theme.
.nav-search-form {
  height: var(--top-navigation--height);

  #search_input {
    height: var(--top-navigation--height);
    line-height: var(--top-navigation--height);
  }

  .nav-search-btn {
    height: var(--top-navigation--height);
    line-height: var(--top-navigation--height);
  }

  .nav-search-clear {
    height: var(--top-navigation--height);
    line-height: var(--top-navigation--height);
  }
}

#header {
  --nav-spacing: 1.2em;
  height: var(--top-navigation--height);
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16),10px 5px 5px 0 rgba(0,0,0,0.04),-10px 5px 5px 0 rgba(0,0,0,0.04);

  // Probably better in Master Theme
  .btn-donate {
    height: var(--top-navigation--height);
    line-height: var(--top-navigation--height);
  }

  // Probably better in Master Theme
  .site-logo {
    height: var(--top-navigation--height);
    line-height: var(--top-navigation--height);
  }

  .nav-link {
    height: var(--top-navigation--height); // Probably better in the Master Theme.
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-bottom: 4px inset transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 4px inset #6c0;
    }
  }

  .btn-navbar-toggle {
    color: variables.$anthracite;
    height: auto;
  }

  #nav-menu > ul {
    li.nav-item {
      height: var(--top-navigation--height);
      line-height: var(--top-navigation--height);
    }

    .dropdown-toggle {
      min-width: unset; // GPI Override

      // Remove wonky caret
      &:after {
        display: none;
      }

      &:hover {
        // Show dropdown menu on hover
        ~ .dropdown-menu {
          display: flex;
        }
        svg {
          transform: rotate(0deg);
          path {
            fill: variables.$anthracite;
          }
        }
      }

      &[aria-expanded="true"] {
        color: variables.$black;
        svg {
          transform: rotate(0);
        }
      }

      svg {
        height: 0.8em;
        width: auto;
        margin-left: 0.4em;
        transform: rotate(90deg);
        transition: all .3s;

        path {
          fill: variables.$slate-grey;
        }
      }
    }

    // Show menu on hover
    ul.dropdown-menu{
      left: 0;
      width: 100%;
      background-color: variables.$light-grey;
      border: none;
      border-radius: 0;
      justify-content: space-evenly;
      box-shadow: var(--box-shadow);
      transform: translate3d(0, 60px, 0) !important; // GPI Override
      display: none;

      &:hover {
        display: flex;
      }

      li a{
        color: variables.$anthracite;
        &:hover{
          color: variables.$black;
        }
      }

      @media only screen and (min-width: $nav-breakpoint) {
        padding: 0 20% 0 20%;
      }
    }


    ul#donate-button-wrapper {
      z-index: 1;
      padding: 0;

      li#dropdownMenuButton {
        padding: 0;
        display: flex;
        justify-content: center;

        path {
          fill: white;
        }

        .btn-donate{
          color: white;

          &:hover {
            color: white;
          }
          // Remove green underline
          &:after {
            border-bottom: 0;
          }

          &[aria-expanded="true"] {
            background-color: variables.$hover-orange;
          }
        }
      }

      ul#dropdownDonateMenu {
        position: absolute;
        text-align: left;
        width: 100%;
        margin: 0;
        margin-top: -1px;
        padding: 0;
        top: 0;
        left: 0;
        box-shadow: var(--box-shadow);
        background-color: variables.$white;
        flex-flow: column wrap;

        li {
          display: block;
          width: 100%;
        }

        .dropdown-item {
          display: block;
          width: 100%;
          padding: 0.25rem 1rem;
          clear: both;
          font-weight: 400;
          color: #212529;
          text-decoration: none;
          white-space: nowrap;
          background-color: transparent;
          border: 0;
          font-size: 0.875rem;
          text-transform: none;
          height: var(--top-navigation--height);
          line-height: var(--top-navigation--height);
          transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
          border-bottom: 4px inset transparent;

          &:hover {
            text-decoration: none;
            border-bottom: 4px inset #6c0;
            background-color: transparent;
          }
        }

        @media only screen and (min-width: $nav-breakpoint) {
          width: auto;
          left: unset !important; // GPI Override
          transform: translateY(60px) !important; // GPI Override
        }
      }
    }
  }
}
