@use "../base/variables";
@import "buttons";

// Breakpoint where links in dropdown (hamburger) menu turn into inline menu
$nav-breakpoint: 992px;

// Override Planet 4 CSS Themes using CSS custom properties as much as possible!
:root {
  --nav-link--color: #{variables.$slate-grey};
  --nav-link--hover--color: #{variables.$anthracite};
  --top-navigation--color: #{variables.$slate-grey};
  --top-navigation--fill: #{variables.$anthracite};
  --top-navigation--height: 60px;
  --top-navigation--background: #fff;
}

#header {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.16),10px 5px 5px 0 rgba(0,0,0,0.04),-10px 5px 5px 0 rgba(0,0,0,0.04);
  .nav-link {
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    border-bottom: 4px inset transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 4px inset #6c0;

      &::before {
        // Remove GPI's border.
        display: none;
      }
    }
  }

  }
}
