.gpnl-pagination {
  .page-item {
    .page-link {
      color: black;

      &.prev, &.next {
        //color: $white;
        background-color: $light-green;
        border-color: $light-green;
        @media (max-width: #{$medium-width}) {
          padding: .5rem 1rem;
          font-weight: bold;
          font-size: 1.5rem;
          line-height: 1.25rem;
        }
      }

      &.ends {
        @media (max-width: #{$medium-width}) {
          padding: .5rem .25rem;
        }
      }
    }

    &.active .page-link {
      font-weight: 700;
      color: $white;
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }
}

// Bootstrap pagination styles
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;

  .page-item:not(:first-child) .page-link {
    margin-left: -1px;
  }

  .page-link {
    padding: .375rem .75rem;
    font-weight: 700;
    position: relative;
    display: block;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus, &:hover {
      background-color: #e9ecef;
    }

    &:hover {
      z-index: 2;
      border-color: #dee2e6;
    }
  }
}
