.page-id-7645 .page-header-background::after,
.page-id-7645 .skewed-overlay {
  display: none;
}

.page-id-7645 .page-header-title {
  max-width: none;
}

.page-id-7645 .page-template {
  color: #FFF;
}

.page-id-7645 .page-header-title img {
  width: 80%;
  margin-bottom: -80px;
  margin-top: -60px;
}

body.page-id-7645 {
  background-image: url("https://storage.googleapis.com/planet4-netherlands-stateless/2018/07/Mockup-webpagina-bg-2.jpg");
  background-size: 100%;
}

.page-id-7645 .step-info .row {
  color: #fff;
}
