@import "../base/variables";

.gpnl-author {
  .author-block {
    background: $grey-1;

    a {
      color: $light-green;
      font-weight: bold;

      &:hover {
        color: $hover-green;
        text-decoration: none;
      }
    }

    .author-pic {
      width: 294px;
      height: 294px;
    }

    @include x-large-and-up {
      max-width: 65%;
    }

    .read-more {
      display: block;
      margin: 1rem 0;
    }

    .author-block-info-bio {
      color: $grey-6;
      margin: 1rem 0;
    }

    .tag-item {
      display: inline-block;
      color: $grey-3;
      border: 1px solid $grey-3;
      padding: 5px;
      margin-right: 15px;
      margin-top: 15px;

      &:hover {
        border: 1px solid $hover-green;
      }
    }

    .author-block-info {
      flex: auto;
    }
  }

  .author-block-info-title {
    text-transform: unset;
    margin-bottom: 15px;
  }

  .gpnl-author-block-image {
    margin: 15px;
  }

  .author-block-info {
    background: unset;

    @include medium-and-up {
      margin: 15px 15px 15px 0;
      padding: unset;
    }

    .author-block-info-name {
      color: black;
      font-size: 1.1rem;
      margin-bottom: 0;
    }
  }
}
