.top-page-tags {
  .tag-item .tag-item--main .page-type {
    display: none;
  }

  a {
    color: red;
  }

  .issues {
    display: block;

    &:before {
      display: none !important;
      content: none !important;
    }

    .tag {
      display: none;
    }
  }

  .tag-wrap .tags {
    display: none;

    .issues {
      &:before {
        display: none !important;
      }
    }
  }

  .tag-item--main, .tag-item--main.page-type {
    font-weight: 400;
    color: $black;
    background: $light-green;
    padding: 10px 20px;

    &:hover {
      color: $black;
      background: $hover-green;
    }
  }

  .tag-item a {
    color: $medium-grey;
    padding: 2px 6px;
    border: 1px solid grey;

    &:hover {
      color: $dark-grey;
      text-decoration: none;
    }

    &:before {
      display: none !important;
    }
  }
}
