.top-navigation .btn-donate {
  min-width: auto;
  text-transform: none;
}

.dropdown-toggle {
  :after {
    content: none;
  }
}

.btn-secondary {
  background-color: $light-green;
  color: $black;
  text-transform: none;
  font-size: 1rem;
  font-weight: 400;
  width: auto;
  border: none;

  &:hover {
    background-color: $hover-green;
    color: $black;
  }
}

.btn-block {
  display: block;
  width: auto;
}

.btn-action {
  box-shadow: none;
}

.load-more {
  margin-left: 15px !important;

  @include small-and-up {
    margin-left: 0px !important;
  }

}
