// Override any of the master theme css rules removing our border-radius.
.form-control {
  border-radius: .25rem !important;
}

body:not(.wp-admin):not(.search-results) input[type="checkbox"] {
  opacity: 1;
}
