.modal {
  position: fixed !important;
  z-index: 1050 !important;

  .btn-secondary {
    background-color: $slate-grey;
    color: $white;
    margin-bottom: 0;

    &:hover {
      color: darken($white, 10%);
      background-color: darken($slate-grey, 10%);
    }
  }
}
