nav#header {
  width: 100vw;
  height: 54px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .25);


  @include medium-and-up {
    height: 60px;
  }

  .btn-navbar-toggle {
    background-color: white;
    color: $slate-grey;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
      box-shadow: 0 2px 5px rgba(0, 0, 0, .50);
    }

    &.open {
      background-color: unset;
    }
  }

  ul#navbar-dropdown {
    &::before {
      background: none;
    }

    width: 100%;
    background-color: #fff;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .25);

    @include large-and-up {
      width: unset;
      height: 60px;
      box-shadow: none;
      display: flex;
      align-items: center;
    }

    #country-select {
      background-color: $blue-4;

      .country-dropdown-toggle {
        background-color: transparent;
        color: white;

        @include large-and-up {
          padding: 18px;
          color: $slate-grey;
        }
      }

      @include large-and-up {
        color: $slate-grey;
        background-color: transparent;
      }
    }


    li.nav-item {
      > * {
        line-height: 1;
      }

      a {
        color: $slate-grey;
        font-size: 18px;
        font-weight: 500;
        text-transform: none;

        &.underline {
          padding: 18px 24px;
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;

          &:hover {
            color: $anthracite;
            border-bottom: 4px solid $light-green;
          }
        }
      }

      #donate-button-wrapper {
        display: flex;
        padding: 0;

        .dropdown {
          padding: 0 24px;

          .btn-donate {
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            color: white;
            display: flex;
            align-items: center;

            &:hover {
              color: white;
            }
          }
        }
      }
    }
  }
}
