@import "../base/variables";

.gpnl-author {
  .author-block {
    background: $grey-1;

    a {
      color: $light-green;
      font-weight: bold;

      &:hover {
        color: $hover-green;
        text-decoration: none;
      }
    }

    @include x-large-and-up {
      max-width: 65%;
    }

    .read-more {
      margin-top: .5rem;
    }
  }

  .author-block-info-title {
    text-transform: unset;
    margin-bottom: 15px;
  }

  .gpnl-author-block-image {
    margin: 15px;
  }

  .author-block-info {
    background: unset;

    @include medium-and-up {
      margin: 15px 15px 15px 0;
      padding: unset;
    }

    .author-block-info-name {
      color: black;
      font-size: 1.1rem;
      margin-bottom: .5rem;
    }

  }
}
