@charset "UTF-8";

@use "../../child-theme-main/styles/base/variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

#editor {

  .wp-block {
    font-family: variables.$roboto;
    font-size: 1.25rem;
    max-width: 1110px;
    margin: 1em auto;
    display: block;
  }

  .edit-post-visual-editor__post-title-wrapper {
    height: 5rem;
    width: 100%;
  }

  .editor-post-title__block {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
  }

  .editor-post-title__input {
    font-size: 2rem;
    margin: 0;
    padding: 0.4em;
    border: 1px solid rgb(141, 150, 160);
  }

  .components-toolbar-text-button {
    color: black;
    border-radius: 4px;
    margin: 3px;
    padding: 5px;
    font-size: 13px;
    line-height: 1.5;

    &:hover {
      color: black;
      box-shadow: inset 0 0 0 1px #555d66, inset 0 0 0 2px #fff;
      cursor: pointer;
      text-decoration: none;
    }
  }

  .components-notice {
    margin: 0 !important;
  }

  .panel-body--warning {
    color: red;
  }

  .warning-message {
    color: #f0b112;
    background-color: white;
    font-style: italic;
    margin-top: 0 !important;
    padding: 0 15px;
    display: inline-block;
  }

  // unsetting the width of the slider which is otherwise messed up by twitter bootstrap.
  .components-range-control__slider {
    width: unset;
  }

  // wordpress also has a card class with a top margin that we don want.
  .card {
    margin-top: 0;
  }

  // This fixes a bug in Chrome of overlapping meta-data.
  .block-editor-writing-flow {
    height: auto;
  }

  .editor-post-permalink .input-control, .editor-post-permalink input[type="text"], .editor-post-permalink input[type="search"], .editor-post-permalink input[type="radio"], .editor-post-permalink input[type="tel"], .editor-post-permalink input[type="time"], .editor-post-permalink input[type="url"], .editor-post-permalink input[type="week"], .editor-post-permalink input[type="password"], .editor-post-permalink input[type="checkbox"], .editor-post-permalink input[type="color"], .editor-post-permalink input[type="date"], .editor-post-permalink input[type="datetime"], .editor-post-permalink input[type="datetime-local"], .editor-post-permalink input[type="email"], .editor-post-permalink input[type="month"], .editor-post-permalink input[type="number"], .editor-post-permalink select, .editor-post-permalink textarea, .edit-post-sidebar .input-control, .edit-post-sidebar input[type="text"], .edit-post-sidebar input[type="search"], .edit-post-sidebar input[type="radio"], .edit-post-sidebar input[type="tel"], .edit-post-sidebar input[type="time"], .edit-post-sidebar input[type="url"], .edit-post-sidebar input[type="week"], .edit-post-sidebar input[type="password"], .edit-post-sidebar input[type="checkbox"], .edit-post-sidebar input[type="color"], .edit-post-sidebar input[type="date"], .edit-post-sidebar input[type="datetime"], .edit-post-sidebar input[type="datetime-local"], .edit-post-sidebar input[type="email"], .edit-post-sidebar input[type="month"], .edit-post-sidebar input[type="number"], .edit-post-sidebar select, .edit-post-sidebar textarea, .editor-post-publish-panel .input-control, .editor-post-publish-panel input[type="text"], .editor-post-publish-panel input[type="search"], .editor-post-publish-panel input[type="radio"], .editor-post-publish-panel input[type="tel"], .editor-post-publish-panel input[type="time"], .editor-post-publish-panel input[type="url"], .editor-post-publish-panel input[type="week"], .editor-post-publish-panel input[type="password"], .editor-post-publish-panel input[type="checkbox"], .editor-post-publish-panel input[type="color"], .editor-post-publish-panel input[type="date"], .editor-post-publish-panel input[type="datetime"], .editor-post-publish-panel input[type="datetime-local"], .editor-post-publish-panel input[type="email"], .editor-post-publish-panel input[type="month"], .editor-post-publish-panel input[type="number"], .editor-post-publish-panel select, .editor-post-publish-panel textarea, .block-editor-block-list__block .input-control, .block-editor-block-list__block input[type="text"], .block-editor-block-list__block input[type="search"], .block-editor-block-list__block input[type="radio"], .block-editor-block-list__block input[type="tel"], .block-editor-block-list__block input[type="time"], .block-editor-block-list__block input[type="url"], .block-editor-block-list__block input[type="week"], .block-editor-block-list__block input[type="password"], .block-editor-block-list__block input[type="checkbox"], .block-editor-block-list__block input[type="color"], .block-editor-block-list__block input[type="date"], .block-editor-block-list__block input[type="datetime"], .block-editor-block-list__block input[type="datetime-local"], .block-editor-block-list__block input[type="email"], .block-editor-block-list__block input[type="month"], .block-editor-block-list__block input[type="number"], .block-editor-block-list__block select, .block-editor-block-list__block textarea, .components-popover .input-control, .components-popover input[type="text"], .components-popover input[type="search"], .components-popover input[type="radio"], .components-popover input[type="tel"], .components-popover input[type="time"], .components-popover input[type="url"], .components-popover input[type="week"], .components-popover input[type="password"], .components-popover input[type="checkbox"], .components-popover input[type="color"], .components-popover input[type="date"], .components-popover input[type="datetime"], .components-popover input[type="datetime-local"], .components-popover input[type="email"], .components-popover input[type="month"], .components-popover input[type="number"], .components-popover select, .components-popover textarea, .components-modal__content .input-control, .components-modal__content input[type="text"], .components-modal__content input[type="search"], .components-modal__content input[type="radio"], .components-modal__content input[type="tel"], .components-modal__content input[type="time"], .components-modal__content input[type="url"], .components-modal__content input[type="week"], .components-modal__content input[type="password"], .components-modal__content input[type="checkbox"], .components-modal__content input[type="color"], .components-modal__content input[type="date"], .components-modal__content input[type="datetime"], .components-modal__content input[type="datetime-local"], .components-modal__content input[type="email"], .components-modal__content input[type="month"], .components-modal__content input[type="number"], .components-modal__content select, .components-modal__content textarea {
    font-size: unset;
  }

  input[type="checkbox"], input[type="radio"] {
    margin: unset;
  }

  // Disabled buttons with the class 'btn-primary' must appear in the editor as regular buttons.
  .btn-primary {
    &:disabled {
      border-color: variables.$blood-orange !important;
      background-color: variables.$blood-orange;
      opacity: 1 !important;
    }
  }

  // Display in editor. Combine with 'd-none' for hiding outside of the editor.
  .d-editor-only {
    display: inline-block !important;
  }

  .block-editor-block-toolbar {
    width: max-content !important;
  }
}


// Hide color gradient panel
.block-editor-panel-color-gradient-settings {
  display: none;
}

// Posts have blocks of a smaller width and the page title is always the same as the H1 tag.
body.post-type-post {

  #editor {
    .wp-block {
      max-width: 721.5px;
    }

    .editor-post-title {
      margin: 0 auto;
    }

    .editor-post-title__input {
      text-transform: uppercase;
      font-size: 3.5rem;
      margin: 1em 0;
      padding: 0;
      border: none;
    }
  }
}
