.carousel-header {
  margin-top: 3.75rem;
  border-bottom: 3px solid $light-green;

  .carousel-item {
    .carousel-preview-wrap {
      display: none;
    }

    &:before {
      filter: none;
    }

    &:after {
      background: none;
    }
  }

  .carousel-control-next {
    .carousel-control-next-icon {
      display: none;
    }
  }

  .main-header {

    padding-top: unset;

    h1 {
      background-color: $white;
      box-decoration-break: clone;
      color: $black;
      display: block;
      font-size: 2.875rem;
      line-height: 4.5rem;
      @include margin($left: $sm, $bottom: $sm);
      @include padding($top: $xsm, $left: $norm, $bottom: $xsm, $right: $norm);
      width: fit-content;
    }

    h2 {
      color: #212529;
      display: block;
      font-size: 1.6rem;
      line-height: 2.5rem;
      text-transform: uppercase;
      box-decoration-break: clone;
      padding: 0 18px;
      background-color: $white;
      width: auto;
      margin: 10px 0 $norm;
      max-width: fit-content;
      @include margin($left: $sm, $bottom: $sm);
      @include padding($top: $xsm, $left: $norm, $bottom: $xsm, $right: $norm);
    }

    .btn {
      background-color: #f3593c;

      &:hover {
        background-color: $hover-red;
      }
    }

    p {
      font-size: 1rem;
      line-height: 1.6;
      display: block;
      margin: 0 0 15px 15px;
      background: $dark-green;
      padding: 15px;
      color: $white;
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  &:after {
    margin-bottom: 0;
  }

  #carousel-wrapper-header {
    .carousel-indicators {
      display: none;
    }

    .carousel-inner {
      height: 497px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .carousel-caption h2 {
    line-height: 3.2rem!important;
    font-size: 1.3rem!important;
  }
}

@media (min-width: 992px) {
  .carousel-header .main-header .action-button .btn {
    width: auto;
    box-shadow: none;
    text-transform: none;
    font-weight: 500;
    font-size: 1.125rem;
    @include padding($top: $sm, $right: $sm, $bottom: $sm, $left: $sm);
    line-height: 1rem;
  }
}
