.columns-block {
  .page-section-header {
    margin: 0;
  }

  background: $anthraciet;
  padding: 15px;
  margin-top: 0;

  h2 {
    font-weight: 400;
  }

  h3, p {
    color: $white !important;
    font-weight: 300 !important;
  }

  a {
    color: $blue;
  }

  h3 {
    color: $white !important;

    a {
      font-weight: 400;
      color: $white;
    }
  }

  .btn-primary {
    color: $white;
  }

  .btn-secondary {
    color: $black;
  }

  &.block-style-icons {
    background-color: $white;

    .column-wrap {
      h2, p {
        color: $black !important;
      }

      h3 {
        color: $black !important;

        a {
          font-weight: 400;
          color: $black;

          &:hover {
            color: $hover-green;
            text-decoration: none;
          }
        }
      }
    }
  }

  &.block-style-tasks {
    h1, h2, h3, h4, h5 {
      color: $white !important;
    }
  }

  .column-wrap {
    margin-top: 48px;

    h3 > a {
      font-weight: 300 !important;
      font-size: 1.375rem;
    }

    .call-to-action-link {
      font-weight: 700;
      color: $dark-green;

      &:hover {
        color: $hover-green;
        text-decoration: none;
      }
    }
  }
}
