.hero {
  + .columns-block {
    margin-top: 0;
  }
}

.columns-block {
  .page-section-header {
    margin: 0;
  }

  a {
    font-weight: 400;
  }

  p {
    font-weight: 300;
  }

  padding: 15px;

  .call-to-action-link {
    font-weight: 700;
    color: $dark-green;

    &:hover {
      color: $hover-green;
      text-decoration: none;
    }
  }

  .column-wrap {
    margin-top: 48px;

    a {
      font-weight: 400;
      color: $black;

      &:hover {
        color: $hover-green;
        text-decoration: none;
      }
    }
  }

  &.block-style-no_image, &.block-style-tasks {
    background: $anthracite;

    h1, h2, h3, h4, h5, h6, p, a {
      color: $white !important;
      font-weight: 300 !important;

      &.btn {
        color: $black !important;
        font-weight: 400 !important;
      }
    }
  }

  &.block-style-icons {
    background-color: $white;

    h1, h2, h3, h4, h5, h6, p {
      color: $black !important;
      font-weight: 300 !important;
    }

    .call-to-action-link {
      font-weight: 700;
      color: $dark-green;

      &:hover {
        color: $hover-green;
        text-decoration: none;
      }
    }
  }
}
