.columns-block {
  background: $anthraciet;
  padding: 15px;

  h2 {
    color: $white !important;
    font-weight: 400;
  }

  h3, p {
    color: $white !important;
    font-weight: 300 !important;
  }

  a {
    color: $blue;
  }

  &.block-style-no_image .column-wrap {
    padding-bottom: 0;
  }

  &.block-style-icons {
    background-color: $white;

    h2, p {
      color: $black !important;
    }

    h3 {
      color: $black !important;

      a {
        font-weight: 400;
      }
    }
  }
}
