.cover-card {
  padding: 0;
  transition: none;
  margin-bottom: 40px;
  // TODO think of a durable solution for shifting the image
  background-position: center 50px;
  height: 350px;
  box-shadow: none;

  &:before {
    transition: none;
    display: none;
  }

  &:after {
    transition: none;
    display: none;
  }

  &:not(.single-cover):hover {
    box-shadow: none;
  }

  @include large-and-up {
    height: 100px !important;
  }

  p {
    display: none;
  }

  &:hover {
    p {
      display: none;
    }
  }

  .cover-card-tag {
    display: none;
  }

  .cover-card-content p {
    display: none;
  }

  .cover-card-heading {
    display: inline-block;
    font-weight: 500;
    color: $black;
    background: $white;
    width: 100%;
    margin: 0;
    padding: $sm;
    height: 110px;
    max-width: 100%;
    min-height: 100px;
    border-top: 4px solid $light-green;
    text-decoration: none;
    text-shadow: none;

    &:hover {
      color: $hover-green;
    }
  }

  .cover-card-btn {
    position: absolute;
    bottom: -36px;
    left: auto;
    cursor: pointer;
    height: auto;
    background: $blood-orange;
    right: 20px;
    border: none;
    text-transform: none;

    &:hover {
      background: $hover-orange;
    }

    .cover-card-tag {
      display: none;
    }
  }

  &.single-cover.action-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, .35);

    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    }
  }
}

.covers-block {
  .btn-secondary {
    text-transform: none;
    width: auto;
    margin-top: $xsm;
  }

  .container {
    padding-left: $sm;
    padding-right: $sm;
  }

  .row.limit-visibility {
    margin-top: unset;
  }
}

.btn-load-more-covers-click {
  margin-left: $sm;

  @include small-and-up {
    margin-left: 0;
  }
}
