.navbar-dropdown .active .nav-link,
.navbar-dropdown .nav-link:focus,
.navbar-dropdown .nav-link:hover {
  border-color: #6c0;
  color: $anthracite;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle:after {
  transform: rotate(90deg);
  transition: 0.3s;
}

.dropdown-toggle:hover:after {
  transform: rotate(0deg);
  transition: 0.3s;
}

.dropdown-menu {
  border: 1px solid #6c0;
}

@media (max-width: 991px) {
  .navbar-dropdown .nav-link {
    padding: 0 15px;
  }

  .nav-link::before {
    width: 0;
  }

  .dropdown-menu {
    border: none;
  }

  .navbar-dropdown .btn-donate {
    padding: 2px 11px 2px 15px;
  }

  #dropdownMenuButton, #dropdownDonateMenu {
    width: 100%;
    padding: 0 10px;

    &.btn {
      white-space: normal;
    }

    .dropdown-item {
      white-space: unset;
    }

  }
}


@media (min-width: 768px) {
  .page-id-7408 > .page-header .container > *:not(.row) {
    max-width: 100%;
  }
}

.dropdown-item:hover {
  color: $anthracite;
  border-bottom: 2px solid #6c0;
}

.dropdown-item {
  //border-bottom: 2px solid white;
  text-transform: none;
  font-size: 0.85rem;
  padding: 0 0.8rem;
  line-height: 2.2rem;
  color: $slate-grey;
}

#donate-button-wrapper {
  padding-left: 0;
}

.carousel-header .carousel-control-next {
  display: none;
}

.btn-navbar-toggle,
.country-dropdown-toggle,
.nav-item,
.nav-link,
.navbar-search-toggle,
.site-logo {
  font-weight: 500;
  font-size: 1rem;
}

.nav-search-wrap .top-nav-search-btn {
  color: $slate-grey;

  i {
    vertical-align: middle;
  }
}

.country-dropdown-toggle {
  font-weight: 400;

  // TODO is :active or .active meant here?
  &:hover, :active, :visited {
    color: $anthracite;
  }
}

.top-navigation {
  background-color: white;
  box-shadow: 0 0 8px #000;
  //border-top: 3px solid $anthracite;
}

.btn-navbar-toggle:active,
.btn-navbar-toggle:focus,
.btn-navbar-toggle:hover {
  color: white;
  background-color: white;
}

.btn-navbar-toggle,
.btn-navbar-toggle:hover,
.navbar-search-toggle {
  color: black;
  background-color: white;
}

.nav-link {
  font-size: 1rem;
  text-transform: none;
}

.top-navigation .btn-donate {
  background-color: $orange;
  color: white;
  box-shadow: none;
  text-transform: none;
  padding: 2px 11px 2px 15px;
}

.top-navigation a {
  color: $slate-grey;
}

@media (max-width: 991px) {
  .navbar-dropdown {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
  }

  .site-logo {
    font-weight: 500;
    font-size: 1rem;
    color: $grey-1;
  }
}

@media screen and (max-width: 576px) {
  .navbar-dropdown {
    width: 100%;
  }
}

.gpnl__notifications {
  width: 100%;
  background-color: $hover-red;
  color: $white;
  p {
    margin: 0;
  }

  a {
    color: $white;
    text-decoration: underline;
  }

  .javascript-not-enabled-notification, .old-ie-browser-notification {
    p {
      padding: $sm;
    }
  }
}

.javascript-not-enabled-notification, .old-ie-browser-notification {
  margin-top: 54px;
}

@media (min-width: 768px) {
  .javascript-not-enabled-notification, .old-ie-browser-notification {
    margin-top: 60px;
  }
}

.navbar-dropdown::before {
  width: 0;
}
