.page-header {
  .top-page-tags {
    .issues {
      a {
        &:before {
          display: none !important;
        }
      }
    }

    // TODO check
    .page-type {
      background: none;
      text-transform: none;
    }

    .tags {
      display: none;

      &:before {
        display: none;
      }

      .tag {
        display: none;
      }
    }
  }
}
