.page-header {
  padding: 84px 0 80px;

  .top-page-tags {
    .page-type {
      display: none;
      background: none;
      text-transform: none;
    }

    .issues {
      a {
        &:before {
          display: none !important;
        }
      }
    }

    .tags {
      display: none;

      &:before {
        display: none;
      }

      .tag {
        display: none;
      }
    }
  }
}
