.page-section {
  margin-top: $xxlrg;
}

.page-section-header, .page-section-description {
  font-weight: 400;
  margin: 0 0 0 $sm;
  @include small-and-up {
    margin: 0;
  }
}

.page-section-description {
  font-weight: 300;
}
