// main colours:
$black: #000000;
$white: #ffffff;
$blood-orange: #f36d3a;
$light-green: #66cc00;
$dark-green: #003300;
$hover-green: #1d8c61;
$hover-red: #c02a0c;
$hover-orange: #f3593c;

// Basic website SECONDARY COLOURS:
$anthracite:      #323842;
$dark-blue:       #044465;
$slate-grey:      #5c6978;
$dark-grey:       #6a6a6a;
$medium-grey:     #9fa1a4;
$sea-blue:        #698e9c;
$sky-blue:        #aec7ca;
$light-blue:      #d7e2e4;
$light-grey:      #dadbdc;
$warm-light-grey: #eaeaea;
