.country-dropdown-toggle,
.country-dropdown-toggle:focus,
.country-dropdown-toggle:hover,
.top-navigation a {
  color: $slate-grey;
}

.country-dropdown-toggle:focus,
.country-dropdown-toggle:hover {
  color: $anthraciet;
}

.country-dropdown-toggle:after:focus,
.country-dropdown-toggle:after:hover {
  background-image: url(images/down-arrow-green.svg)!important;
}

#country-list > ul > li > ul > li > a {
  color: #fff;
}

#country-list > ul > li > ul > li > a:hover {
  color: #8bcc49;
}
