.cover-card {
    padding: 0;
    transition:none; 
    margin-bottom: 40px;
    background-position: center 50px;

    .cover-card-tag {
        display:none;
    }

    .cover-card-heading {
        display: inline-bloc0px
        font-size: 1.125rem;0px
        font-weight: 500;
        line-height: 1.5rem;0px
        color: $gray1;
        background: $white;
        width: 100%;
        margin: 0;
        padding: 15px;
        height: 110px;
        max-width: 100%;
        min-height: 100px;
        border-top: 4px solid $gpnl-green;
        text-decoration: none;
        text-shadow: none;
        
        &:hover {
            color:$hover-green;
        }
    }

        .cover-card-btn {
        position: absolute;
        bottom: -36px;
        left: auto;
        right: 0;
        margin: none;
        width: 40%;
        cursor: pointer;
        height: auto;
        background: $CTA-red;
        right: 20px;
        border: none;
        text-transform: none;

        &:hover {
            background: $hover-red;
            color: $gray1;
        }

        .cover-card-tag {
            display:none;
        }
    }
}

.covers-block {
    .btn-secondary {
        text-transform: none;
        background: $gpnl-green;
        color: $white;
        width: auto;
        padding: 0 20;
        margin-top: $xsm;
    }
}