.navbar-dropdown .active .nav-link,
.navbar-dropdown .nav-link:focus,
.navbar-dropdown .nav-link:hover {
  border-color: #6c0;
  color: #212529;
}

.dropdown:hover > .dropdown-menu {
  max-height: 500px;
  opacity: 1;
}

.dropdown .dropdown-menu {
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
  min-width: 100%;
}

.dropdown-toggle::after{
  transform: rotate(90deg);
  transition: 0.3s;
}

.dropdown-toggle:hover:after{
  transform: rotate(0deg);
  transition: 0.3s;
}

@media (max-width:992px) {
  .dropdown-menu {
    border: 1px solid #6c0;
  }

  .navbar-dropdown .btn-donate {
    margin: 1.5em;
    padding: 2px 11px 2px 15px;
  }
}

@media (min-width:768px) {
  .page-id-7408 > .page-header .container > *:not(.row) {
    max-width: 100%;
  }
}

.dropdown-item:hover {
  border-bottom: 2px solid #6c0;
}

.dropdown-item {
  border-bottom: 2px solid white;
  text-transform: none;
  font-size: 0.85rem;
  padding: 0rem 0.8rem;
  line-height: 2.2rem;
}

#donate-button-wrapper {
  padding-left: 0;
}

.dropdown-menu {
  top: 80%;
  left: 30px;
  padding: 0;
}

.carousel-header .carousel-control-next {
  display: none;
}

.btn-navbar-toggle,
.country-dropdown-toggle,
.nav-item,
.nav-link,
.navbar-search-toggle,
.site-logo {
  font-weight: 500;
}

.nav-search-wrap .top-nav-search-btn {
  color: $light-grey;
}

.nav-search-wrap .top-nav-search-btn i {
  vertical-align: middle;
  font-size: 1.05rem;
}

.country-dropdown-toggle {
  font-weight: 400;

  &:hover, active, visited {
    color: $dark-grey;
  }
}

.top-navigation {
  background-color: white;
  box-shadow: 0px 0px 8px #000;
  border-top: 3px solid $anthraciet;
}

.btn-navbar-toggle:active,
.btn-navbar-toggle:focus,
.btn-navbar-toggle:hover {
  color: white;
  background-color: white;
}

.btn-navbar-toggle,
.btn-navbar-toggle:hover,
.navbar-search-toggle {
  color: black;
  background-color: white;
}

.nav-link {
  font-size: 1rem;
  text-transform: none;
}

.navbar-dropdown .active .nav-link,
.navbar-dropdown .nav-link:focus,
.navbar-dropdown .nav-link:hover {
  color: $light-grey;
}

.navbar-dropdown .active .nav-link,
.navbar-dropdown .nav-link:focus,
.navbar-dropdown .nav-link:hover {
  border-color: #6c0;
  color: #212529;
}

.top-navigation .btn-donate {
  background-color: #f3593c;
  color: white;
  box-shadow: none;
  text-transform: none;
  padding: 2px 11px 2px 15px;
}

.top-navigation a {
  color: $medium-grey;
}

@media (max-width:992px) {
  .navbar-dropdown {
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background: url("images/dropdown-gradient.svg") no-repeat #FFF;
  }
}
@media screen and (max-width:576px) {
  .navbar-dropdown {
    width: 100%;
  }
}
