.quote {
    margin-left: 0px !important;
    margin-right: 0px !important;
    justify-content: center !important;
    display: inline-flex !important;
    align-items: center !important;

    @include small-and-up {
        height: 140px !important;
    }

    @include medium-and-up {
        height: 180px !important;
    }

    @include x-large-and-up {
        height: 190px !important;
    }

    .col-2 {
        @include small-and-up {
            flex: 0 0 35% !important;
        } 
        
        @include medium-and-up {
            flex: 0 0 24% !important;
        }

        @include x-large-and-up {
            flex: 0 0 16% !important;
        }
    }

    .col-10 {
        @include small-and-up {
            flex: 0 0 35% !important;
        } 
        
        @include medium-and-up {
            flex: 0 0 24% !important;
        }

        @include x-large-and-up {
            flex: 0 0 73% !important;
        }
    }

    .quote__text {
        @include small-and-up {
            font-size: 0.875rem !important;
            margin-bottom: 0px !important; 
        }

        @include medium-and-up {
            font-size: 1.125rem !important;
            margin-bottom: 5px !important;
        }

        @include x-large-and-up {
            font-size: 1.7rem !important;
        }
    }

    .quote__author {
        @include small-and-up {
            font-size: 0.6875rem !important;
        }

        @include medium-and-up {
            font-size: 0.875rem !important;
        }

        @include x-large-and-up {
            font-size: 1rem !important;
        }
    }
}