.quote {
    margin-left: 0px;
    margin-right: 0px;
    justify-content: center;
    display: inline-flex;
    align-items: center;

    @include small-and-up {
        height: 140px;
    }

    @include medium-and-up {
        height: 180px;
    }

    @include x-large-and-up {
        height: 190px;
    }

    .col-2 {
        @include small-and-up {
            max-width: 35%;
        } 
        
        @include medium-and-up {
            max-width: 24%;
        }

        @include x-large-and-up {
            max-width: 16%;
        }
    }

    .quote__text {
        @include small-and-up {
            font-size: 0.875rem;
            margin-bottom: 0px; 
        }

        @include medium-and-up {
            font-size: 1.125rem;
            margin-bottom: 5px;
        }

        @include x-large-and-up {
            font-size: 1.25rem;
        }
    }

    .quote__author {
        @include small-and-up {
            font-size: 0.6875rem;
        }

        @include medium-and-up {
            font-size: 0.875rem;
        }

        @include x-large-and-up {
            font-size: 1rem;
        }
    }
}