.content-two-column-block {
    
        padding-left: $sm !important;
        padding-right: $sm !important;
        padding-bottom: 0px !important;

    @include small-and-up {
        padding-top: $xlrg !important;
        padding-left: $sm;
        padding-top: $sm;
        padding-bottom: 0px !important;
    }

    @include large-and-up {
        padding-top: $xlrg !important;
        padding-left: $wide !important;
        padding-top: $xxlrg !important;
        padding-bottom: $xxlrg !important;
    }
}