
@media (min-width: 768px) {
    .content-two-column-block 
    {
    padding-top: $xxlrg;
    }
}

@media (max-width: 768px) {
    .content-two-column-block 
    {
    padding-left: $sm;
    padding-right: $sm;
    }
}